.avatarContainer {
  img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
  }
}

.tweetInfoContainer {
  padding: 16px 16px 0 16px;
  border-bottom: 1px solid #E6ECF0;

  .accountContainer {
    margin-left: 8px;
  }

  .name {
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
  }

  .userId,
  .timeContainer {
    color: var(--secondary-color);
    font-size: 14px;
  }

  .timeContainer,
  .replyAndLike {
    border-bottom: 1px solid #E6ECF0;
  }

  .timeContainer {
    padding-bottom: 8px;
  }

  .tweetContent {
    margin-top: 8px;
    font-size: 24px;
    line-height: 36px;
    min-height: 108px;
  }

  .replyAndLike {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 19px;
    line-height: 23px;
    display: flex;
    align-items: center;
    height: 60px;

    .words {
      color: var(--secondary-color);
    }

    .likeCount {
      margin-left: 24px;
    }
  }

  .iconContainer {
    display: flex;
    align-items: center;
    height: 68px;

    .like {
      margin-left: 133px;
    }
    .likeBig {
      margin-left: 133px;
      width: 25px;
      height: 25px;
    }
  }
}

.userInfo {
  display: flex;
}