.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99; /* 將 z-index 設定為比 modal 小 */
  }
  
  .modal {
    position: fixed;
    top: 56px;
    left: 336px;
    width: 634px;
    height: 300px;
    background-color: #FFFFFF;
    border-radius:14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    z-index: 100;
  }
  .modalContent {
    

  }
  
  .modalHeader {
    height: 56px;
    border-bottom: 1px solid #E6ECF0;
    .NotiFailIcon{
        height: 15px;
        width: 15px;
        position: absolute;
        left: 19.5px;
        top:20.5px;
    }
  }
  .tweetContainer{
    display: flex;
  }
  .TweetInput{
    padding-left: 82px;
    width: 528px;
    resize:none;

  }
  .avatarContainer {
    position: absolute;
    top: 73px;
    width: 50px;
    height: 50px; 
    padding-left: 24px;
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  }
  
 
    textarea {
      width: 100%;
      min-height: 100px;
      resize: vertical;
      border: 1px solid #ccc;
      border-radius: 4px;
      padding: 8px;
      font-size: 14px;
    }
  
    .tweetButton {
    position: absolute;
    right:16px;
    bottom: 16px;
    
  }
  
